{% extends "base.html" %}

{% block content %}
    <h1>Welkom</h1>
    <p>Mijn idee is een week personeelsplanning te maken waar je een database vult met informatie om daarna een weekplanning in elkaar te zetten.<br> Zo kan je makkelijker wijzigingen aanbrengen in de uren van je werknemers. De belangrijke onderwerpen om de planning op de baseren zijn: werknemers, open werkuren, mogelijke werkuren, max aantal werkuren, min aantal werkuren, hoeveel er wordt uitbetaalt per dag en week. <br> De bedoeling is om eerst de database in te lezen, in te voeren wat je open uren zijn en hoeveel mensen per uur werken, ook of er een max of min aantal uren is dat een werknemer mag werken achter elkaar. </p>
{% endblock %}
